/* Reset all styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Set font properties */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: black;
  color: white;
  overflow-x: hidden ;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove text decoration */
a {
  text-decoration: none;
  color: inherit;

}


/* Remove default button styles */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Remove default input styles */
input {
  border: none;
  outline: none;
}

/* Remove default form styles */
form {
  display: block;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  color: #c0c0c0cd;
}


